h1 {
}

h2 {
}

p {
}
/* menu */

header nav li {
  text-align: center;
  /* border-bottom: 1px solid white;*/
  width: 7rem;
  padding: 0.2rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  position: static;
  background: white;
  top: 0;
  padding: 0.5rem 0.5rem;
  overflow: auto;
  justify-content: space-around;
}

header .logo a {
  font-size: 0.5rem;
  text-align: center;
  max-width: none;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
}
a {
  font-family: roboto;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(61, 60, 60);
}
a:hover {
  color: black;
}

.logo img {
  max-width: 450px;
  width: 100%;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
